body {
  background: #123;
  color: #333;
  font-size: 11px;
  height: auto;
  padding-bottom: 20px;
}

p {
  padding: 5px;
  margin: 0;
  text-align: center;
}

.container_24 {
  background-color: green;
  background-repeat: repeat-y;
}
